/* =========================================================
Foundation
========================================================= */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 400;
  font-family: 'Roboto', 'M PLUS 1p', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #24292e;
}

li {
  list-style: none;
}

/* =========================================================
Layout
========================================================= */
.l-container {
  display: flex;
}

@media (min-width: 1201px) {
  .l-container__left {
    width: 80%;
  }
}

.l-container__right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
}

@media (min-width: 1201px) {
  .l-container__right {
    width: 20%;
    height: auto;
  }
}

.l-header {
  width: 100%;
}

.l-mainvisual {
  width: 100%;
  height: 285px;
  position: relative;
}

@media (min-width: 1201px) {
  .l-mainvisual {
    height: 530px;
  }
}

@media (min-width: 768px) {
  .l-main__service {
    display: flex;
    justify-content: space-around;
  }
}

.l-aside {
  background-color: #FFF7EF;
}

@media (min-width: 1201px) {
  .l-aside {
    width: 100%;
  }
}

.l-footer {
  width: 100%;
  height: 150px;
}

/* =========================================================
object
========================================================= */
.c-button {
  width: 78px;
  height: 46px;
  padding: 12px 23px;
  border: solid 1px #707070;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .c-button {
    width: 136px;
  }
}

.p-container__right {
  position: fixed;
  left: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .3s;
}

@media (min-width: 1201px) {
  .p-container__right {
    position: static;
  }
}

.p-container__right.is-open {
  left: 0;
}

.p-header {
  color: #707070;
  background-color: #FFF7EF;
}

.p-header__gnav {
  font-size: 20px;
  text-align: right;
  margin: 0 16px 0 0;
  padding-top: 14px;
}

.p-header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1201px) {
  .p-header__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 30px 0 65px;
  }
}

.p-header__topTitle {
  font-size: 4rem;
}

@media (min-width: 1201px) {
  .p-header__topTitle {
    font-size: 6.4rem;
  }
}

.p-header__topSearch {
  position: relative;
  margin: 40px 0;
}

.p-header__top input[type="search"] {
  width: 230px;
  height: 46px;
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1.5px #707070;
  padding-left: 40px;
}

@media (min-width: 768px) {
  .p-header__top input[type="search"] {
    width: 396px;
  }
}

.p-header__top .fa-search {
  position: absolute;
  top: 13px;
  left: 14px;
}

.p-header__top input[type="submit"] {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #F2EDE9;
  line-height: 1px;
  margin-left: 12px;
}

.p-mainvisual {
  background-size: cover;
  background-position: center;
}

.p-mainvisual__front {
  background-image: url("../img/mainvisual-pc.jpg");
}

.p-mainvisual__title {
  position: absolute;
  font-size: 4rem;
  color: #fff;
  top: 45%;
  left: 6vw;
}

.p-main__service {
  margin: 20px 20px 50px 20px;
}

@media (min-width: 768px) {
  .p-main__service {
    margin: 3%;
  }
}

.p-main__service li {
  background-size: cover;
  background-position: center;
}

.p-main__service li:first-child {
  background-image: url(../img/front1.png);
}

.p-main__service li:last-child {
  background-image: url(../img/front2.png);
}

.p-main__serviceInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170vw;
  width: auto;
  max-height: 680px;
}

@media (min-width: 768px) {
  .p-main__serviceInner {
    width: 48%;
  }
}

@media (min-width: 1201px) {
  .p-main__serviceInner {
    height: 80vw;
    max-width: 625px;
    max-height: 1196px;
  }
}

.p-main__serviceTitle {
  position: relative;
  font-size: 4.4rem;
  font-weight: bold;
  color: #EAEAEA;
  margin: 20px 0 0 10px;
}

@media (min-width: 1201px) {
  .p-main__serviceTitle {
    font-size: 8rem;
    margin: 40px 0 0 20px;
  }
}

.p-main__serviceTitle::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 35px;
  height: 5px;
  left: 0;
  bottom: -20px;
}

@media (min-width: 1201px) {
  .p-main__serviceTitle::after {
    width: 65px;
  }
}

.p-main__serviceCard {
  background-color: #fff;
  opacity: 0.8;
  margin: 0 10px 10px 10px;
}

.p-main__serviceTerm {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 20px 0 20px 10px;
}

.p-main__serviceDesc {
  font-size: 1.6rem;
  line-height: 23px;
  padding: 0 10px 50px 10px;
}

.p-main__place {
  position: relative;
  width: 100%;
  height: 691px;
}

@media (min-width: 768px) {
  .p-main__place {
    height: 415px;
  }
}

@media (min-width: 1201px) {
  .p-main__place {
    height: 649px;
  }
}

.p-place__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 40px;
}

@media (min-width: 1201px) {
  .p-place__wrapper {
    padding-top: 80px;
    padding-left: 7%;
  }
}

.p-place__map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.p-place__map iframe {
  width: 100%;
  height: 100%;
}

.p-place__title {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.p-place__title::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 75px;
  height: 2px;
  left: 0;
  bottom: -20px;
}

@media (min-width: 1201px) {
  .p-place__title::after {
    bottom: -55px;
  }
}

@media (min-width: 1201px) {
  .p-place__title {
    font-size: 3.6rem;
  }
}

.p-place__text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  margin-top: 40px;
}

@media (min-width: 1201px) {
  .p-place__text {
    font-size: 1.6rem;
    width: 45%;
    margin-top: 120px;
  }
}

.p-place__layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 415px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1201px) {
  .p-place__layer {
    width: 60%;
    height: 649px;
  }
}

.p-aside {
  overflow-y: auto;
}

.p-aside__title {
  display: none;
  font-size: 3.4rem;
  font-weight: bold;
  padding-left: 30px;
}

@media (min-width: 1201px) {
  .p-aside__title {
    display: block;
    padding-top: 80px;
  }
}

.p-aside__btn {
  font-size: 7rem;
  line-height: 60px;
  color: #707070;
  text-align: right;
  padding-right: 20px;
}

@media (min-width: 1201px) {
  .p-aside__btn {
    display: none;
  }
}

.p-aside__mainMenu {
  padding-left: 40px;
  margin: 180px 0;
}

@media (min-width: 1201px) {
  .p-aside__mainMenu {
    margin: 80px 0;
  }
}

.p-aside__mainItem a {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 20px 0;
}

.p-aside__subItem a {
  font-size: 2.0rem;
  font-weight: normal;
  padding: 10px;
}

.p-footer {
  background-color: #9D8670;
}

.p-footer__info {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.p-footer__info li:first-child {
  padding-right: 10px;
}

.p-footer__info li:nth-child(2) {
  padding-left: 10px;
}

.p-footer__info li + li {
  border-left: solid 2px #fff;
}

.p-footer__info a {
  font-size: 2rem;
  color: #fff;
}

.p-footer p {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

.u-displayNone--pc {
  display: block;
}

@media (min-width: 1201px) {
  .u-displayNone--pc {
    display: none;
  }
}

.u-mb20 {
  margin-bottom: 20px;
}

body.is-open {
  position: fixed;
}
/*# sourceMappingURL=style.css.map */