.p-main__service {

  margin: 20px 20px 50px 20px;
  @include breakpoint(tablet) {
    margin: 40px 40px 50px 40px;
  }
  @include breakpoint(pc) {
    margin: 120px;
  }

  li {
    background-size: cover;
    background-position: center;
    &:first-child {
      background-image: url(../img/front1.png);
    }

    &:last-child {
      background-image: url(../img/front2.png);
    }
  }

  &Inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170vw;
    max-width: 357px;
    max-height: 681px;
    @include breakpoint(pc) {
      width: 35%;
      height: 80vw;
      max-width: 625px;
      max-height: 1196px;
    }
    
  }

  &Title {
    position: relative;
    font-size: 4.4rem;
    font-weight: bold;
    color: #EAEAEA;
    margin: 20px 0 0 10px;
    @include breakpoint(pc) {
      font-size: 8rem;
      margin: 40px 0 0 20px;
    }
    &::after {
      position: absolute;
      content: "";
      background-color: $white-color;
      width: 35px;
      height: 5px;
      left: 0;
      bottom: -20px;
      @include breakpoint(pc) {
        width: 65px;
      }
    }
  }

  &Card {
    background-color: $white-color;
    opacity: 0.8;
    margin: 0 10px 10px 10px;
  }

  &Term {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 20px 0 20px 10px ;
  }

  &Desc {
    font-size: 1.6rem;
    line-height: 23px;
    padding: 0 10px 50px 10px;
  }

}
//p-main__service

.p-main__area {
  position: relative;
  width: 100%;
  height: 691px;
  @include breakpoint(tablet) {
    height: 415px;
  }
  @include breakpoint(pc) {
    height: 649px;
  }
}

.p-area {
  &__wrapper {
    background-color: rgba($color: #000000, $alpha: 0.3);
    height: 100%;
  }

  &__map {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    color: $white-color;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: bold;
    color: $white-color;
  }

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 415px;
    background-color: rgba(0,0,0,0.3);
    
  }
}