.p-header {
  color: $sub_color;
  background-color: $base_color;
}

.p-header__gnav {
  font-size: 20px;
  text-align: right;
  margin: 0 16px 0 0;
  padding-top: 14px;
  @include breakpoint(pc) {
    display: none;
  }
}

.p-header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include breakpoint(pc) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 30px 0 65px;
  }

  &Title {
    font-size: 4rem;
    @include breakpoint(pc) {
      font-size: 6.4rem;
    }
  }

  &Search {
    position: relative;
    margin: 40px 0;
  }

  input[type="search"] {
    width: 230px;
    height: 46px;
    font-size: 1.8rem;
    border-radius: 10px;
    background-color: $white-color;
    border: solid 1.5px $sub-color;
    padding-left: 40px;
    @include breakpoint(tablet) {
      width: 396px;
    }
  }

  .fa-search {
    position: absolute;
    top: 13px;
    left: 14px;
  }
  
  input[type="submit"] {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #F2EDE9;
    line-height: 1px;
    margin-left: 12px;
  }

}