.p-header {
  color: $sub_color;
  background-color: $base_color;
  padding-bottom: 40px;
}

.p-header__gnav {
  font-size: 20px;
  text-align: right;
  margin: 0 16px 0 0;
  padding-top: 14px;
}

.p-header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  &Title {
    font-size: 4rem;
  }

  &Search {
    position: relative;
    margin-top: 40px;
  }

  input[type="search"] {
    width: 230px;
    height: 46px;
    font-size: 1.8rem;
    border-radius: 10px;
    background-color: $white-color;
    border: solid 1.5px $sub-color;
    padding-left: 40px;
  }

  .fa-search {
    position: absolute;
    top: 13px;
    left: 14px;
  }
  
  input[type="submit"] {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #F2EDE9;
    line-height: 1px;
    margin-left: 12px;
  }

}