.p-mainvisual {
  background-size: cover;
  background-position: center;
  &__front {
    background-image: url("../img/mainvisual-pc.jpg");
  }
}

.p-mainvisual__title {
  position: absolute;
  font-size: 4rem;
  color: $white-color;
  top: 45%;
  left: 6vw;
}