.l-container {
  display: flex;

  &__left {
    @include breakpoint(pc) {
      width: 80%;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    @include breakpoint(pc) {
      width: 20%;
      height: auto;
    }
  }
}

